In [1]:
import os
import sys
import numpy as np
import pandas as pd
import pickle
from stellargraph import StellarGraph
from stellargraph import datasets
from IPython.display import display, HTML


import pandas as pd
import numpy as np
from stellargraph import StellarGraph
import stellargraph as sg
from stellargraph.mapper import PaddedGraphGenerator
from stellargraph.layer import DeepGraphCNN
from stellargraph import StellarGraph

from stellargraph import datasets

from sklearn import model_selection
from IPython.display import display, HTML

from tensorflow.keras import Model
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.layers import Dense, Conv1D, MaxPool1D, Dropout, Flatten
from tensorflow.keras.losses import binary_crossentropy
import tensorflow as tf
import json

In [2]:
filehandler = open("../data/sample_data/hotel_reservation_only_bottlenecks_sample.pkl","rb")
dat = pickle.load(filehandler)
filehandler.close()
print(type(dat))
print(dat.shape)

<class 'pandas.core.frame.DataFrame'>
(3999996, 7)

In [3]:
df = dat.sample(frac=1)
df_without_labels = df.copy()
df_without_labels = df_without_labels.drop(columns=['label'])
df.columns
df_check = df[df.label == -1]

In [4]:
graph_edges = pd.DataFrame(
    {"source": ["0", "0", "1", "1", "4"], 
     "target": ["1", "4", "2", "3", "5"]}
)
graph_edges

  source target
0      0      1
1      0      4
2      1      2
3      1      3
4      4      5

In [5]:
node_indices = [str(i) for i in range(len(df_without_labels.columns))]

In [6]:
df_sample = df.groupby('label', group_keys=False).apply(lambda x: x.sample(frac=0.1))

In [7]:
df_sample['label'].value_counts()

0    66667
1    66667
2    66667
3    66667
4    66667
5    66667
Name: label, dtype: int64

In [8]:
graphs = []
graph_labels = []
count = 0
for index,row in df_sample.iterrows():
    count = count + 1
    label = row['label']
    node_features = row.drop(labels = ['label'])
    graph_nodes = pd.DataFrame({"x": node_features.tolist()}, index = node_indices)
    graph = StellarGraph(graph_nodes, graph_edges)
    graphs.append(graph)
    graph_labels.append(label)
    if count % 10000 == 0:
        print(count)

10000
20000
30000
40000
50000
60000
70000
80000
90000
100000
110000
120000
130000
140000
150000
160000
170000
180000
190000
200000
210000
220000
230000
240000
250000
260000
270000
280000
290000
300000
310000
320000
330000
340000
350000
360000
370000
380000
390000
400000

In [9]:
graph_label_lists = graph_labels.copy()
graph_labels = pd.Series(graph_label_lists)

In [10]:
graph_labels.value_counts().to_frame()

         0
0.0  66667
1.0  66667
2.0  66667
3.0  66667
4.0  66667
5.0  66667